$primary-background-color: #212121;
$header-color: #181818;
$primary-color: #3A3A3A;
$secondary-color: #9b9b9b;
$container-color: #181818;
$primary-text-color: #E6E6E6;
$secondary-text-color: #CECECE;
$tool-bar-color: #181818;