@import 'src/_library.scss';

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: $primary-background-color
    
}
  .app {
    display: flex;
    flex-direction: column;
    height: 100vh; // Set height to 100 viewport height
    width: 98vw; // Set width to 100 viewport width

  
    .container {
      display: flex;
      flex-direction: row;
      height: 100vh;
      width: 100%;
      .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        //height: 50vh;
        margin: 0;
        padding: 0.5rem;
        
        .image-containers
        {
          padding: 20px;
          border-radius: 8px;
          display: flex;
          flex-direction: row; /* Align the tools and image containers in a row */
          align-items: top; /* Center the content vertically */
          height: 60vh; /* Set height to fill the entire screen */
          width: 100%;
        }
  }
  
  }
  
}